extends ./layout.pug

block content
  a(href="/superheroes/new" class="btn btn-primary") Create
  hr
  .row.text-center.d-flex.flex-wrap
    div(class="card-group")
      each superhero in superheroes
        .col-md-3.col-sm-6
          a(href="/superheroes/" + superhero.id)
            div(class="card")
              img(class="card-img-top" src='/img/superheroes/' + superhero.image alt="superheroe.image")
              div(class="card-body")
                  h5(class="card-title")= superhero.name
                  p(class="card-text")= superhero.name
                  //- .row.justify-content-center
                  //- a(href="/superheroes/" + superhero.id + "/edit" class="btn btn-warning btn-xs") Edit
                  //- form#delete-form(action="/superheroes/" + superhero.id + "?_method=DELETE" method='POST')
                  //-   button.btn.btn-danger.btn-xs Delete
                  //- a(href="/superheroes/" + superhero.id + "?_method=DELETE" class="btn btn-danger") Delete
                    
          //-img(src='/img/superheroes/' + superhero.image  width='200px') 
          //-h3= superhero.name


